{% extends 'padre.html' %}

{% load static %}

{% block titulo %}
<span class="site-heading-lower">CARGA DE BEBIDAS</span>
{% endblock %}

{% block espacio_de_inicio %}
<img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src= "{% static 'assets/img/products-01.jpg' %}" alt="..." />
{% endblock %}

{% block espacio_para_formulario %}
<p>Ingresa los datos del producto</p>

<form action="{% url 'bebidas' %}" method="POST"> {% csrf_token %}

    <table>
        {{ formulario.as_table }}
    </table>
    <input type="submit" value="Enviar">

</form>

{% endblock %}