{% extends 'padre.html' %}

{% load static %}

{% block titulo %}
<span class="site-heading-lower">BUSQUEDA DE OTROS PRODUCTOS</span>
{% endblock %}

{% block espacio_de_inicio %}

{% endblock %}

{% block espacio_para_formulario %}
<p>Ingresa el nombre o parte del nombre del producto que estás buscando</p>

<form action="{% url 'buscarOtros' %}" method="GET">
    
    <input type="text" name="nombre" id="nombre">

    <input type="submit" value="Buscar">


</form>

{{ mensaje }}

{% endblock %}